---
import Page from "../../layouts/Page.astro";
import { getCollection } from "astro:content";
import { formatDate } from "../../util.ts";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
  }));
}

export const prerender = true;

const { slug } = Astro.params;
const posts = await getCollection("blog");
const post = posts.find((post) => post.slug === slug)!;
const { Content } = await post.render();
---

<Page title={`${post.data.title} | Jamalam's Blog`} description={post.data.summary}>
  <h1 class="title">{post.data.title}</h1>
  <div class="summary">
    <p>{post.data.summary}</p>
    <span>&centerdot;</span>
    <p class="date">{formatDate(post.data.publishDate)}</p>
  </div>

  <div class="prose">
    <Content />
  </div>

  <details class="comments" id="giscus-container">
    <summary>Comments</summary>
    <script
      id="giscus-script"
      src="https://giscus.app/client.js"
      data-repo="Jamalam360/jamalam.tech"
      data-repo-id="R_kgDOHTGbbg"
      data-category="Comments"
      data-category-id="DIC_kwDOHTGbbs4CeAGQ"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="noborder_light"
      data-lang="en"
      crossorigin="anonymous"
      async></script>
  </details>
</Page>

<style>
  .title {
    margin-bottom: 0;
  }

  .summary {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px dashed var(--text-color);
  }

  .date {
    color: var(--deemphasis-text-color);
    font-size: 1rem;
  }

  .comments {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .comments summary {
    cursor: pointer;
  }

  @media (max-width: 600px) {
    .summary p {
      font-size: 0.9rem;
    }
  }
</style>

<style is:global>
  .prose {
    width: 100%;
    line-height: 1.2;
  }

  .prose p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  .prose h1 {
    font-size: 2em;
    margin-top: 1.75em;
    margin-bottom: 0.75em;
  }

  .prose h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  .prose h3 {
    font-size: 1.25em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  .prose p:has(img) {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .prose img {
    width: 100%;
    object-fit: contain;
    border-radius: 1em;
  }

  .prose code {
    font-size: 0.85em;
  }

  .prose pre {
    width: calc(100% - 2em);
    border-radius: 1em;
    padding: 1em;
  }

  .prose ol {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1.5em;
  }

  .prose ul {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1.5em;
  }

  .prose blockquote {
    font-style: italic;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-left: 1em;
    border-left: 0.25em solid var(--deemphasis-text-color);
  }

  @media (max-width: 600px) {
    .prose blockquote {
      margin-left: 0rem;
    }
  }
</style>
