---
import Base from "../layouts/Base.astro";
import { Image } from "@astrojs/image/components";

const posts = (await Astro.glob("./blog/**/*.md"))
  .filter(({ frontmatter }) => typeof frontmatter.publishDate != "undefined")
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).valueOf() -
      new Date(a.frontmatter.publishDate).valueOf()
  );

// These need to be added to the safelist in tailwind.config.cjs
const tags: Record<string, string> = {
  meta: "blue-400",
  typescript: "blue-700",
  java: "yellow-500",
  minecraft: "orange-500",
};
---

<Base
  title="Blog | Jamalam"
  description="My blog, where I post random things that I feel like writing about."
>
  <div class="flex w-full justify-center">
    <div class="flex flex-row flex-wrap justify-center w-4/5">
      {
        posts.map((post) => {
          const { frontmatter } = post;
          return (
            <a href={post.url} class="w-1/4 px-4">
              <div class="w-full flex flex-col items-center my-2 px-2 bg-slate-700 hover:bg-slate-600 hover:rounded-md duration-100 rounded">
                <Image
                  src={frontmatter.image}
                  alt={frontmatter.title}
                  width={264}
                  height={264}
                  class="object-contain rounded-md hover:rounded-lg duration-100 mb-2 mt-3"
                />
                <div class="flex flex-row items-center space-x-2 align-middle">
                  <h2 class="text-2xl text-blue-500 font-bold">
                    {frontmatter.title}
                  </h2>
                  <span class="text-sm text-gray-500">
                    {new Date(frontmatter.publishDate).toLocaleDateString()}
                  </span>
                </div>
                <div class="flex flex-row justify-center flex-wrap w-2/3 space-x-1 pb-2">
                  {frontmatter.tags.map((tag: string) => {
                    return (
                      <p class={`bg-${tags[tag]} rounded px-1 text-white`}>
                        {tag}
                      </p>
                    );
                  })}
                </div>
                <p class="px-4 text-center mb-2">{frontmatter.description}</p>
              </div>
            </a>
          );
        })
      }
    </div>
  </div>
</Base>
