---
import Base from "../layouts/Base.astro";
import { Image } from "@astrojs/image/components";

const posts = (await Astro.glob("./blog/**/*.md"))
  .filter(({ frontmatter }) => typeof frontmatter.publishDate != "undefined")
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).valueOf() -
      new Date(a.frontmatter.publishDate).valueOf()
  );

// These need to be added to the safelist in tailwind.config.cjs
const tags: Record<string, string> = {
  meta: "blue-400",
  typescript: "blue-700",
  java: "yellow-500",
  minecraft: "orange-500",
};
---

<Base>
  <div class="flex w-full justify-center my-4">
    <div class="flex flex-row flex-wrap w-2/3">
      {
        posts.map((post) => {
          const { frontmatter } = post;
          return (
            <div class="w-1/2 flex flex-col items-center">
              <Image
                src={frontmatter.image}
                alt={frontmatter.title}
                width={264}
                height={264}
                class="object-contain rounded hover:rounded-xl duration-200 mb-2"
              />
              <div class="flex flex-row items-center space-x-2 align-middle">
                <h2 class="text-2xl font-bold">
                  <a href={post.url}>{frontmatter.title}</a>
                </h2>
                <span class="text-sm text-gray-500">
                  {new Date(frontmatter.publishDate).toLocaleDateString()}
                </span>
              </div>
              <div class="flex flex-row justify-center flex-wrap w-2/3 space-x-1 pb-2">
                {frontmatter.tags.map((tag: string) => {
                  return (
                    <p class={`bg-${tags[tag]} rounded px-1 text-white`}>
                      {tag}
                    </p>
                  );
                })}
              </div>
              <p class="px-4 text-center">{frontmatter.description}</p>
            </div>
          );
        })
      }
    </div>
  </div>
</Base>
