---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/main.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="https://jamalam.tech" />
    <meta name="og:site_name" content="jamalam.tech" />
    <meta name="og:locale" content="en_US" />

    <link rel="icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <script
      data-goatcounter="https://jamalam.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    ></script>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
